extends ../layouts/default

block head
  title NUS Mathematics PYP Solutions

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 NUS Mathematics PYP Solutions
    p.lead
      | The key to your CAP 5.0!
    div
      a.btn.btn-info.btn-lg(href='/signup/') Create an Account
      | &nbsp;or&nbsp;
      a.btn.btn-info.btn-lg(href='/browse/') Start Browsing
    div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p NUS Mathematics Society is a group of energetic and fun-loving people who organize exciting events for all those who have an interest in Mathematics.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p Worked out an answer for a question that has no suggested answers yet?　Sign up for an account to add and edit your own answers to PYP questions!
          a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p Found a bug? Have any suggestions? Have any suggestion for the UI/UX of this site? For feedback on this web app, please feel free to contact us.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
